.tx-browser-pi1 .category_menu_treeview {
  float: left;
  padding-right: 1em;
  width: 30em;
}

.tx-browser-pi1 .category_menu_treeview a {
  font-weight:normal;
}
.tx-browser-pi1 .category_menu_treeview a.selected {
  font-weight:bold;
}
.tx-browser-pi1 .box_select {
  float:right;
  position: relative;
  top: 1em;
}
.tx-browser-pi1 select.category {
  display: block;
  margin: 0 0 1em 0;
  width: 20em;
}

#treeview {
  border: 1px solid #CCC;
  border-radius: 6px 6px 6px 6px;
  margin: 1em 0;
  padding: 0.4em;
}
